{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    <div class="cart">
        {% if items %}
        <div class="col-md-10 text-center h-100 mx-auto mt-5 ">
            <table class="table">    
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>image</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Retirer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{item.product.name}}</td>
                            <td><img class="img80" src="{{asset('img/upload/' ~ item.product.picture)}}" alt="maPetiteMousse"></td>
                            <td>{{item.product.price|number_format(2)}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.quantity * item.product.price}}</td>
                            <td>
                                <a href="{{path('cart_delete', {'id': item.product.id})}}"><i class="fa fa-trash text-danger"></i></a>
                            </td>
                        </tr>  
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-end fw-bold">Total :</td>
                        <td class="fw-bold text-primary">{{ total|number_format(2) }}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>    
            {% else %}
            <div class="d-flex flex-column justify-content-center">
                <p class="text-center mt-5 ">Votre panier est vide pour le moment.</p> 
                <img class="mx-auto" src="https://cdn.join.chat/app/uploads/2020/05/tumbleweed.gif" alt="poussière">
            </div>
            {% endif %}
        </div>
    </div>    

{% endblock %}
