{% extends 'base.html.twig' %}

{% block title %}Ajouter une Bière | {{ parent()}} {% endblock %}

{% block h1 %}Ajouter une Bière{% endblock %}

{% block body %}

   <a class="btn btn-secondary ms-3" href="{{ path('app_admin_products_index') }}">Retour</a>

   <div class="col-md-8 m-auto">
     {{ form_start(formProduct)}}
        {{ form_row(formProduct.name)}}
        {{ form_row(formProduct.description)}}
        {{ form_row(formProduct.abv)}}
        {{ form_row(formProduct.ebc)}}
        {{ form_row(formProduct.styles)}}
        {{ form_row(formProduct.brewries)}}
        {{ form_row(formProduct.glutenfree)}}
        {{ form_row(formProduct.organic)}}
        {{ form_row(formProduct.price)}}
        {{ form_row(formProduct.picture)}}

            <div class="d-flex justify-content-center">
        <input type="submit" value="Ajouter" class="btn btn-success col-md-2 mt-3">
        </div>

        <div id="zone" class="d-flex mt-2 m-auto image_preview  text-center justify-content-center col-md-2 img-thumbnail">
            {% if product.picture %}
                <img class="img-fluid img-thumbnail" src="{{ asset('img/upload/' ~ product.picture)}}" alt="">
                <td><a href="{{ path("suppression_image", {'id': product.id} ) }}"><i class="delete-icon" data-feather="trash" title="supprimer"></i></a></td>
            {% endif %}
        </div>

       
        {{ form_end(formProduct)}}
    </div>

{% endblock %}

{% block javascripts %}

<script>
    function loadFile(event){

        let zone = document.getElementById("zone");
        zone.innerHTML="";
        
        let image = document.createElement('img');
        image.setAttribute("src", URL.createObjectURL(event.target.files[0]));
        image.setAttribute("class", "image_ajout_preview");

        zone.append(image);
    }
</script>

{% endblock %}