{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<div class="col-md-11 mx-auto">
    <a class="btn btn-dark" href="{{ path('app_admin_products_index') }}">back to list</a>
</div>

<div class="row justify-content-center">
    <div class="col-md-3 p-0 d-flex align-items-center justify-content-center">
        <td><img src="{{asset('img/upload/' ~ product.picture)}}" alt=""></td>
    </div>

    <div class="col-md-7 p-0">

        <h1 class="mb-5">{{ product.name }}</h1>

        <table class="table mt-5">
            <tbody>
                <tr>
                    <th>Brasserie</th>
                    <td>{{ product.brewries.name }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <th>Pays d'origine</th>
                    <td>{{ product.brewries.countries.flag }} {{ product.brewries.countries.name }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ product.price|number_format(2) }} €</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <th>Date d'ajout</th>
                    <td>{{ product.createdAt ? product.createdAt|date('Y-m-d 🕐 H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Titre alcoolique</th>
                    <td>{{ product.abv }}% VOL</td>
                </tr>
                <tr>
                    <th>Degré d'amertume</th>
                    <td>{{ product.ebc }} EBC</td>
                </tr>
                <tr>
                    <th>Sans glutène</th>
                    <td>{{ product.glutenfree }}</td>
                </tr>
                <tr>
                    <th>Biologique</th>
                    <td>{{ product.organic }}</td>
                </tr>
            </tbody>
        </table>

        

        <a class="btn btn-warning col-md-2 mt-3" href="{{ path('app_admin_products_edit', {'id': product.id}) }}">Modifier</a>

    </div>
</div>


{% endblock %}
