{% extends 'base.html.twig' %}

{% block title %}Modifier une brasserie | {{ parent() }} {% endblock %}

{% block h1 %}Modifier une brasserie{% endblock %}

{% block body %}


    <a class="btn btn-secondary ms-3" href="{{ path('app_admin_products_index') }}">Retour</a>

    <div class="col-md-10 mx-auto">
        {{ form_start(form)}}
            {{ form_row(form.name)}}
            {{ form_row(form.description)}}
            {{ form_row(form.countries)}}

            <div class="d-flex justify-content-center">
                <input type="submit" value="Modifier" class="btn btn-warning col-md-2 mt-3">
            </div>
        {{ form_end(form)}}


{% endblock %}
