{% extends 'base.html.twig' %}

{% block title %}New Brewries{% endblock %}

{% block body %}
    <h1>Add new Brewries</h1>

    {# {{ include('admin_brewries/_form.html.twig') }} #}

    {{form_start(form)}}
        {{form_row(form.name)}}
        {{form_row(form.description)}}
        {{form_row(form.countries)}}
        <button class="btn btn-success">{{ button_label|default('Add Brewery') }}</button>
    {{form_end(form)}}

    <a href="{{ path('app_admin_brewries_index') }}">back to list</a>
{% endblock %}
