{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }} {% endblock %}

{% block h1 %}Accueil{% endblock %}

{% block body %}


    {# CAROUSEL #}

        <h4 class="text-warning text-center my-3">Quelques unes de nos petites mousses 🍺</h4>


        <div id="carouselExampleIndicators" class="carousel carousel-container align-items-center slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
        <div class="carousel-inner card-container ">
            {% for k, product in RandomProducts %} 
            <div class="carousel-item {% if k == 0 %} active {% endif %}">
                    <a href="{{  path("fiche_produit", {'id': product.id} )  }}"><img class="d-block m-auto image-card" src="{{ asset('img/upload/' ~ product.picture ) }}" alt="Image de Bière"></a> 
                    <a class="product-name-link" href="{{  path("fiche_produit", {'id': product.id} )  }}"><p class="product-name">{{ product.name|capitalize }}</p></a>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
        </div>

    {# MODALE COOKIES #}
    <div id="cookies_container">
        <div class="col-md-12" id="cookies">
            <div id="cookies_text">
                <p>Ce site utilise des cookies notamment pour sauvegarder votre panier d'achat et également pour une meilleure expérience de navigation. </p>
            </div>
            <div id="cookies_btn">
                <button class="btn btn-primary btn_size" id="accept">Accepter</button>
                <button class="btn btn-dark btn_size" id="manage">Préférences</button>
            </div>
        </div>
    </div>

    {# MODALE AGE LEGAL #}
    <div id="age_container">
        <div class="col-md-4" id="legal_age">
            <p>Vous devez être majeur pour pouvoir accéder au site</p>
            <div id="age">
                <button class="btn btn-primary me-2" id="majeur">J'ai plus de 18 ans</button>
                <button class="btn btn-dark ms-2" id="mineur">J'ai moins de 18 ans</button>
            </div>
        </div>
    </div>

{% endblock %}

    {# JAVASCRIPT #}
{% block javascripts %}
    <script>
    {# COOKIES MESSAGE #}
        document.getElementById('accept').addEventListener('click', function(){
            document.getElementById('cookies_container').style.display = "none";
        });

    // LEGAL AGE MESSAGE
        document.getElementById('majeur').addEventListener('click', function(){
            document.getElementById('age_container').style.display = "none";
        });

        document.getElementById('mineur').addEventListener('click', function(){
            // window.location.href="http://www.google.com";
            window.history.back();
        });
    </script>
    
{% endblock %}