{% extends "base.html.twig" %}

{% block title %}{{ parent()}} | Catalogue{% endblock %}

{% block h1 %}Catalogue des Mousses{% endblock %}

{% block body %}

<div class="row col-11 m-auto">

    <div class="shadow col-md-2 px-4 py-3 form-filters">
            <h4>Filtres</h4>
        {{ form_start(formFilter) }}

            {{ form_row(formFilter.search) }}

            {{ form_row(formFilter.brewry) }}

            {{ form_row(formFilter.country) }}

            {{ form_row(formFilter.style) }}

            {{ form_row(formFilter.minPrice) }}
            {{ form_row(formFilter.maxPrice) }}

            {{ form_row(formFilter.order) }}

            <input type="submit" value="Rechercher" class="btn btn-primary mt-2">

        {{ form_end(formFilter) }}
    </div>

    <div class="row all-catalogue-container justify-content-center col-md-10">
        {% for product in products %}
            {% if product.status == 1 %}
            <div class="col-md-3 product-card-container m-3" href="{{ path("fiche_produit", {'id': product.id} ) }}">
                <div class="top-card">
                    <a class="link-deco" href="{{  path("fiche_produit", {'id': product.id} )  }}" ><h5 class="text-center catalogue-product-title">{{ product.name|capitalize }}</h5></a>
                    <h6 class="product-styles text-center" > 🍻 {{ product.brewries.name }} - {{ product.styles.name }}</h6>
                </div>
                
                <div class="text-center py-2">
                    {% if product.picture %}
                        <a href="{{  path("fiche_produit", {'id': product.id} )  }}"><img src="{{ asset('img/upload/' ~ product.picture) }}" alt="" class="imgcatalogue"></a>
                    {% else %}
                        <img src="{{ asset('img/beer-default.png')}}" alt="" class="img150">
                    {% endif %}
                </div> 

                <h5 class="text-center mt-2">{{ product.price|number_format(2) }} €</h5>
                <div class="text-center">
                    <a href="{{ path("fiche_produit", {"id" : product.id}) }}">
                        <i class="text-warning" data-feather="eye"></i>
                    </a>  
                </div>
                <a href="{{ path('basket_add', {'id': product.id}) }}">
                
                <input class="btn-s btn-sendtocart" type="submit" value="Ajouter au panier"></a>

                <div class=" d-flex card-bottom justify-content-between">
                <a class="link-deco voir-eye" href="{{  path("fiche_produit", {'id': product.id} )  }}">👁️</a>
                <p title="{{ product.brewries.countries.name }}">{{ product.brewries.countries.flag }}</p>
                </div>
            {% endif %}
            </div>
        {% else %}
            <h4 class="text-center">Il n'y a plus de bières disponibles :pensive:</h4>
        {% endfor %}
    </div>

</div>

{% endblock %}