{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | {{ product.name|capitalize }}{% endblock %}

{% block h1 %}{{ produit.name|capitalize }}{% endblock %}

{% block body %}

    <a class="btn btn-dark mt-3" href="{{ path('catalogue') }}">Catalogue</a>

    <div class="shadow col-md-6 mx-auto text-center m-4 p-4">
    
        {% if produit.image %}
            <img src="{{ asset('img/upload/' ~ product.picture) }}" alt="" class="img300">
        {% else %}
            <img src="{{ asset('img/imageDefault.png') }}" alt="" class="img300">
        {% endif %}

        <h3>{{ product.price }} €</h3>

        <h3>Description :</h3>

        <p>
            {% if product.description %}
                {{ product.description }}
            {% else %}
                <span class="text-secondary fst-italic">Non renseignée</span>
            {% endif %}  
        </p>
    </div>


{% endblock %}