{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | {{ product.name|capitalize }}{% endblock %}

{% block h1 %}{{ product.name|capitalize }}{% endblock %}

{% block body %}

     {# Flash d'ajout au PANIER #}
    {% for notification in app.flashes('basket') %}

    <div class="col-md-6 mx-auto alert alert-success text-center">
    {{ notification }}
    </div>

    {% endfor %}

    <a class="btn btn-dark mt-3 ms-5" href="{{ path('catalogue') }}">Catalogue</a>

    <div class="shadow col-md-8 mx-auto text-center m-4 py-5">

    {% if product.stocks.quantity > 0 %}
        <form action="{{ path("basket_add")}}" method="post">

            <select name="quantity" class="form-control">


                {% if product.stocks.quantity > 10 %}
                    {% set quantity = 10 %}
                {% else %}
                    {% set quantity = product.stocks.quantity %}
                {% endif %}


                {% for i in 1..quantity %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>

            <input type="hidden" name="product" value="{{product.id}}">

            <input type="submit" value="Ajouter au panier" class="btn btn-success">

        </form>
    {% else %}
        RUPTURE
    {% endif %}
    
        {% if product.picture %}
            <img src="{{ asset('img/upload/' ~ product.picture) }}" alt="" class="img300">
        {% else %}
            <img src="{{ asset('img/beer-default.jpg') }}" alt="Bière introuvable" class="img300">
        {% endif %}

    <div class="col-md-7 mt-3 m-auto">

        <h1 class="mb-5">{{ product.name }}</h1>

        <table class="table mt-5">
            <tbody>
                <tr>
                    <th>Brasserie</th>
                    <td>{{ product.brewries.name }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <th>Pays d'origine</th>
                    <td>{{ product.brewries.countries.flag }} {{ product.brewries.countries.name }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ product.price|number_format(2) }} €</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td class="p-3">{{ product.description }}</td>
                </tr>
                <tr>
                    <th>Date d'ajout</th>
                    <td>{{ product.createdAt ? product.createdAt|date('Y-m-d 🕐 H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Titre alcoolique</th>
                    <td>{{ product.abv }}% VOL</td>
                </tr>
                <tr>
                    <th>Degré d'amertume</th>
                    <td>{{ product.ebc }} EBC</td>
                </tr>
                <tr>
                    <th>Sans glutène</th>
                    <td>{{ product.glutenfree }}</td>
                </tr>
                <tr>
                    <th>Biologique</th>
                    <td>{{ product.organic }}</td>
                </tr>
            </tbody>
        </table>

        
        {% if app.user %}
            {% if is_granted("ROLE_ADMIN") %}
                <a class="btn btn-warning  mt-3" href="{{ path('app_admin_products_edit', {'id': product.id}) }}">Modifier</a>
            {% endif %}
        {% else %}
            <input class="btn-s btn-sendtocart" type="submit" value="Ajouter au panier" >
            {# <a href="#">Ajouter au panier</a> #}
        {% endif %}

    </div>
</div>


{% endblock %}
