{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil | {{ parent() }}{% endblock %}

{% block body %}



    <a class="btn btn-secondary ms-3" href="{{ path('app_profil') }}">Retour</a>

    <div class="col-md-8 m-auto">
        {{ form_start(formProfil)}}
            {# {{ form_row(formProfil.pseudo)}} #}
            {# {{ form_row(formProfil.email)}} #}
            {{ form_row(formProfil.adress)}}
            {{ form_row(formProfil.country)}}
            {{ form_row(formProfil.zip)}}
            {{ form_row(formProfil.info)}}
            {{ form_row(formProfil.plainPassword)}}
            {{ form_row(formProfil.avatarUpdate)}}
                
            
        
            <div class="d-flex justify-content-center">
                <input type="submit" value="Modifier" class="btn btn-warning col-md-2 mt-3">
            </div>

            <div id="zone" class="d-flex mt-2 m-auto text-center justify-content-center col-md-2">
                {% if users.avatar %}
                    <img class="img-fluid img-thumbnail" src="{{ asset('img/avatarUpload/' ~ users.avatar)}}" alt="">
                    <td><a href="{{ path("picture_delete", {'id': users.id} ) }}"><i class="delete-icon" data-feather="trash" title="supprimer"></i></a></td>

                {% endif %}
    </div>
            </div>
        {{ form_end(formProfil)}}

        {# {{ form_start(formMDP)}}
                {{ form_row(formMDP.plainPassword)}}
                <input type="submit" value="Mettre à jour" class="btn btn-warning col-md-2 mt-3">
        {{ form_end(formMDP)}} #}


    </div>


{% endblock %}


{% block javascripts %}

<script>
    function loadFile(event){

        let zone = document.getElementById("zone");
        zone.innerHTML="";
        
        let image = document.createElement('img');
        image.setAttribute("src", URL.createObjectURL(event.target.files[0]));
        image.setAttribute("class", "image_ajout_preview");

        zone.append(image);
    }
</script>

{% endblock %}