<footer>
  <div class="footer-container m-auto justify-content-around">
	<section class="footer-block" id="block_various_links_footer">
		<h4 class="footer-titles">Informations</h4>
		<ul class="toggle-footer" style="">
                <li class="item">
                    <a <a href="{{ path('app_livraison')}}" title="Livraison">
                        Livraison
                    </a>
                </li>
                <li class="item">
                    <a href="{{ path('app_conditions')}}" title="Conditions générales de vente">
                        Conditions générales de vente
                    </a>
                </li>
                <li class="item">
                    <a href="{{ path('app_mentions')}}" title="Conditions générales de vente">
                        Mentions légales
                    </a>
                </li>
                
        </ul>
    </section>


    <section id="block_contact_infos text-center" class="footer-block">
    <h4 class="footer-titles">Contact</h4>
    <ul class="toggle-footer" style="">
    <li><a href="{{path('app_contact')}}">Nous contacter</a></li>
        {# <li>
            Une Petite Mousse
            <br>
            8 Avenue de la Boustifaille <br>
            62018 Moussaille sur Houblon<br>
            France
            <br>
            <i class="fa fa-exclamation-circle"></i> Uniquement sur rendez-vous.
            <br><br>
            </li>
            <li>Téléphone :<br>
                <p>01.61.62.63.64</p>
            </li>
            <li>
                E-mail :<br>
                <a href="mailto:contact@unepetitemousse.fr">contact@unepetitemousse.fr</a>
            </li>
        </li> #}
    </ul>
    </section>

    <div class="Localisation">
        <h4 class="footer-titles">Localisation</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d781.6793586712199!2d1.9850747203392267!3d48.77720561650739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e683f40eed9f35%3A0xe77f6e9ad55621f0!2sChrysalead%2C%20p%C3%A9pini%C3%A8re%20et%20village%20d&#39;entreprises!5e0!3m2!1sfr!2sfr!4v1652442384453!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </section>
    </div>

</div>

       <section class="footer-block col-8 mx-auto text-center">
        <h3>Nous suivre</h3>
        <div class="list-icons-socials" style="">
            <a href="https://www.facebook.com/ppetite.mmousse/" title="Facebook">
                <img class="social-icons" src="{{ asset('/img/footer/facebook.png') }}" alt="Facebook page" data-pagespeed-url-hash="3473704035" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" width="36">
            </a>
             <a href="https://www.twitter.com/ppetite.mmousse/" title="Twitter">
                <img class="ms-2 social-icons" src="{{ asset('/img/footer/twitter.png') }}" alt="Twitter page" data-pagespeed-url-hash="3473704035" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" width="36">
            </a>
             <a href="https://www.instagram.com/ppetite.mmousse/" title="Instagram">
                <img class="ms-2 social-icons" src="{{ asset('/img/footer/instagram.png') }}" alt="Instagram page" data-pagespeed-url-hash="3473704035" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" width="36">
            </a>
        </div>
         <div class="copyright">
            © 2022 <a href="{{ path('app_infos')}}" title="Une Petite Mousse">Une Petite Mousse</a>
            |      <a href="{{ path('app_team')}}">Créateurs</a>
        </div>


</footer>
