<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fst-italic" href="{{ path('app_home') }}">Une Petite Mousse</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Nos Mousses</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dashboard
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path('app_admin_products_index') }}">Gestion des Bières</a></li>
            <li><a class="dropdown-item" href="#">Gestion des Styles</a></li>
            <li><a class="dropdown-item" href="#">Gestion des Brasseries</a></li>
            <li><a class="dropdown-item" href="#">Gestion des Pays</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
          </ul>
        </li>
      </ul>
      {# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> #}
    </div>
  </div>
</nav>

<div id="connexion_btn_zone">
   {% if not app.user  %}
    <div class="nav-item register_button">
      <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">Inscription</a>
    </div>
    {% endif %}
    {% if not app.user  %}
    <div class="logout_login_buttons">
      <a class="btn btn-success text-light" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
    </div>
    {% endif %}
    {% if app.user  %}
    <div class="logout_login_buttons">
      <a class="btn btn-danger text-light" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
    </div>
    {% endif %}
</div>