<div class="nav_container">
  <div class="bg-navbar-container" >
    <div class="bg-navbar"></div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light p-3">
    <div class="container-fluid container-nav">
      <a class="navbar-brand fw-bold fs-2" href="{{ path('app_home')}}"><img title="Accueil" id='logo' src="{{ asset("/img/nav/Logo.png")}}" alt="Logo et Accueil"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{path('catalogue')}}"><p class="mousses-nav"> Nos Mousses</p></a>
          </li>
          {% if app.user %}
            <li class="nav-item">
              <a class="nav-link active"  aria-current="page" href="{{path('app_profil')}}"><p class="profil-nav"> Profil</p></a>
            </li>
        
            {% if is_granted("ROLE_ADMIN") %}
            <div class="administration_nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-danger" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if is_granted('ROLE_ADMIN') %}
                  Tableau de Bord
                {% else %}
                  {{app.users.name}}
                {% endif %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if is_granted("ROLE_ADMIN") %}
                    <li><a class="dropdown-item" href="{{ path('app_admin_products_index') }}">Gestion des Bières</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_admin_styles_index') }}">Gestion des Styles</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_admin_brewries_index') }}">Gestion des Brasseries</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_admin_stocks_index') }}">Gestion des Stocks</a></li>
                    
                  {% endif %}
                </ul>
              </li>
            </div>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
    <a href="{{path('app_cart')}}"><img class="nav-cart-logo" src="{{ asset('/img/nav/cart.svg')}}" alt=""></a>
  </nav>
</div>

  {# ZONE DE CONNEXION #}
  <div id="connexion_btn_zone">
    {% if not app.user  %}
      <div class="register_button">
        <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">Inscription</a>
      </div>
    {% endif %}
    {% if not app.user  %}
      <div class="logout_login_buttons active">
        <a class="btn btn-success text-light" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
      </div>
    {% endif %}
    {% if app.user  %}
      <div class="logout_login_buttons">
        <a class="btn btn-danger text-light" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
      </div>
    {% endif %}
  </div>

