{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block h1 %}Panier{% endblock %}

{% block body %}
    
    {% if basket.id is defined and basket.id|length > 0 %}
        <table class="table table-striped table-hover text-center">
            <thead >
                <tr>
                {# <tr id="tr{{ basket.image[i] }}"> #}
                    {# <th>ID</th> #}
                    <th>Image</th>
                    <th>Titre</th>
                    <th>Prix (€)</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Supprimé</th>
                </tr>
            </thead>

            <tbody>

                {% set size = basket.id|length -1 %}

                {% for i in 0..size %}
                    <tr id="tr{{ basket.id[i]}}">
                        {# <td>{{ basket.id[i] }}</td> #}
                        <td>
                            {% if basket.image[i] %}
                                <img src="{{ asset('img/upload/' ~ basket.image[i]) }}" alt="" class="img80">
                            {% else %}
                                <img src="{{ asset('img/beer-default.jpg') }}" alt="" class="img80">
                            {% endif %}
                        </td>
                        <td>{{ basket.title[i] }}</td>
                        <td>{{ basket.price[i] }}</td>



                        <td>
                        {% if basket.quantity[i] > 0 %}
                            <div class="btnQuantity">
                                <span class="quantityChange btnmoins" id="moins{{ basket.id[i] }}" data-value="{{ basket.id[i] }}" data-what="moins">-</span>

                                <span class="btnQ" id="newQuantity{{ basket.id[i] }}">{{ basket.quantity[i] }}</span>

                                <span class="quantityChange btnmoins" id="plus{{ basket.id[i] }}" data-value="{{ basket.id[i] }}" data-what="plus">+</span>
                            </div>
                        {% else %}
                            <h2 class="text-warning">LE PRODUIT EST INDISPONIBLE</h2>
                        {% endif %}
                        </td>


                        <td id="montant{{ basket.id[i] }}">{{ basket.price[i] * basket.quantity[i]}}</td>
                        <td>
                            <a href="{{ path('basket_remove', {"id" : basket.id[i]} ) }}">
                                <i class="fa fa-trash text-danger"></i></a>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                <tr class="text-dark">
                    <td colspan="4">Total</td>
                    <td id="montantTotal">{{ montant }}€</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="row col-md-10 justify-content-between align-items-center mx-auto">
            <a class="btn btn-danger col-md-2 mt-4 mx-auto btn-vider-panier" href="{{ path("basket_remove_all") }}">Vider le panier</a>

            {% if app.user %}
                <a class="btn btn-success col-md-2 mt-4 mx-auto btn-payer" href="{{ path("basket_paiement")}}">Payer</a>
            {% else %}
                <h6 class="col-md-4 me-3 my-3 mx-auto">Veuillez vous <a href="{{ path('app_login') }}">connecter</a> pour passer au paiement</h6>
            {% endif %}
        </div>

    {% else %}
        <h4 class="text-center mt-3">Votre panier est vide</h4>
        <img src="" alt="">
    {% endif %}
{% endblock %}

{% block javascripts %}


    <script>
        let basket = JSON.parse('{{ basket | json_encode | raw}}');

        let array = [];
        let countArray = basket['title'].length;

        for(let i = 0; i < countArray; i++)
        {
            let test = {
                "id" : basket['id'][i],
                "quantity" : basket['quantity'][i],
            }

            array.push(test);
        }

        $.ajax({
            method : 'post',
            dataType : "json", 
            url : "{{path('verification')}}", 
            data : array,

            success : function (response){
                console.log(response);

                
                
            }, 
            error: function(){
                alert("error")
            }
            
            });


        
        let quantityChange = $('.quantityChange');
        let montantTotal = $('#montantTotal');

        quantityChange.click(function(){
        
        let idProduct = $(this).data('value');
        
        let banane = {
            "id" : $(this).data('value'),
            "what" : $(this).data('what'),
        };

        console.log(banane);

        // Préparation de l'envoi
        $.ajax({
            method : 'post',
            dataType : "json", //format json
            url : "{{path('change_quantity')}}", // route à créer dans le controller
            data : banane, //= données récupérées

            // Réponse (retour) du controller
            success : function (response){
                console.log(response);

                let newQuantity = $('#newQuantity' + idProduct);
                let iconePlus = $('#plus' + idProduct);
                let montant = $('#montant' + idProduct);

                newQuantity.html(response['value']);
                montant.html(response['montant']);
                montantTotal.html(response['montantTotal'] + "€");

                if(response['value'] == 1)
                {

                    let iconeMoins = $('#moins' + idProduct);
                    iconeMoins.hide();
                }
                else if(response['value'] > 1)
                {
                    let iconeMoins = $('#moins' + idProduct);
                    iconeMoins.show();
                }

                if(response['max'])
                {
                    iconePlus.hide();
                }
                else
                {
                    iconePlus.show();
                }
                
            }, 
            error: function(){
                alert("error")
            }
            
            });
        });

    </script>

{% endblock %}